</main>
<footer class="page-footer sticky blue darken-4 ">
  <!-- <div class="container">
    <div class="row">
      <div class="col l6 s5">
        <h5 class="white-text">Demo app for SMIoT framework</h5>
        <p class="grey-text text-lighten-4">See references</p>
      </div>
    </div>
  </div> -->
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright KU Leuven
    </div>
  </div>
</footer>
</body>
</html>