<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMIoT Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
    <link rel="stylesheet" href="./styles/style.css">
    <!-- <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.css'>
    
    <script src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js'></script>-->
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='code.js'></script>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper blue darken-4">
        <a href="#!" class="brand-logo"><i class="material-icons" style="font-size: 35px">device_hub</i>SMIoT Demo</a>
        <ul class="left hide-on-med-and-down custom">
          <li ><a href="index">Dashboard</a></li>
          <li ><a href="discover">Discover</a></li>
          <li><a href="devices">Devices</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#"><%= user %></a></li>
          <li><a href="#"><i class="material-icons">exit_to_app</i>Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    