
#loginregister{
  width:600px;
  margin-top: 80px;
}
.tabs .indicator {
  background-color: #0d47a1;
}
.toastText{
  color:black
}
.toastText.head{
  font-weight: 400;
  font-size: 1.5rem;
}
.customToast{
  background-color: #ffcc80;
  width:300px;
}
.left.hide-on-med-and-down.custom{
  margin-left: 250px;
}
.card.deviceCard{
  border-radius:25px;
}
.card.horizontal .card-image{
  padding:25px;
  max-width: 35%;
}
#consoleSide{
  border-left-style: solid;
  border-left-color: #283593 ;
  height:803px;
  
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

